@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");

html {
  background: url(images/LTGbackground.jpg) no-repeat center center fixed;
  opacity: .8;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-family: "Potta One", cursive, Arial, sans-serif;
}

.vertical-menu {
  width: 200px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #4caf50;
  color: white;
}

.list {
  color: black;
}

li {
  color: white;
  font-size: 24px;
  font-family:Arial, Helvetica, sans-serif;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  z-index: 10;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 300px;
  color: #fff;
}

#interncontainer {
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 70%;
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}

#bylaws {
  border: black 1px solid;
  overflow: hidden;
  max-width: 60%;
  background-size: cover;
  background-attachment: fixed;
}

#bylaws:after {
  content: '';
  display: block;
}

#coding {
  border: black 1px solid;
  overflow: hidden;
  max-width: 60%;
  background-size: cover;
  background-attachment: fixed;
}

#coding:after {
  content: '';
  display: block;
}

#position {
  border: black 1px solid;
  overflow: hidden;
  max-width: 60%;
  background-size: cover;
  background-attachment: fixed;
}

#position:after {
  content: '';
  display: block;
}

#position {
  border: black 1px solid;
}

#logo {
  width:60px;
  top: 0px;
  right: 0px;
  position: absolute;
}

#topheader {
  position: relative;
}

